<header class="wsui-banner">
  <div class="css-cbke9o exyshz41"><img width="120"
      src="https://atomiks.github.io/tippyjs/static/logo-ebc385458e03fdb24af078536af88065.svg" draggable="false"
      alt="Tippy Logo" class="css-zfve6f e44rv91">
    <h1 class="css-o84oq1 e44rv92"><span class="css-o6gehy e9jfib40">https://fuhao.info</span></h1>
    <blockquote> 有趣又有用的符号网站 </blockquote>
    <div class="is-wave">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 240" fill="white" class="css-rdinb3">
        <g>
          <path
            d="M1920,144.5l0,95.5l-1920,0l0,-65.5c196,-36 452.146,-15.726 657.5,8.5c229.698,27.098 870,57 1262.5,-38.5Z">
          </path>
        </g>
      </svg>
    </div>
</header>
