<blockquote class="tippy-blockquote is-hoverable">
  <p><strong>Note</strong></p>
  <p>This is <code class="tippy-code">false</code> by default when using <a href="../headless-tippy/"
      class="css-undv4l e1fogcta1">Headless
      Tippy</a>.</p>
</blockquote>

<div class="blank-10"></div>

<blockquote class="tippy-blockquote is-primary is-hoverable">
  <p><strong>Note</strong></p>
  <p>This is <code class="tippy-code">false</code> by default when using <a href="../headless-tippy/"
      class="css-undv4l e1fogcta1">Headless
      Tippy</a>.</p>
</blockquote>
