<ul class="tippy-navbar">
  <li><a href="#">Demo</a></li>
  <li><a class="is-active" href="#">Getting Started</a></li>
  <li><a href="#">Constructor</a></li>
  <li><a href="#">Customization</a></li>
  <li><a href="#">All Props</a></li>
  <li><a href="#">HTML Content</a></li>
  <li><a href="#">Themes</a></li>
  <li><a href="#">Animations</a></li>
  <li><a href="#">Tippy Instance</a></li>
  <li><a href="#">Methods</a></li>
  <li><a href="#">AJAX</a></li>
  <li><a href="#">Accessibility</a></li>
  <li><a href="#">Addons</a></li>
  <li><a href="#">Plugins</a></li>
  <li><a href="#">Headless Tippy</a></li>
  <li><a href="#">Misc</a></li>
  <li><a href="#">FAQ</a></li>
  <li><a href="#">Motivation</a></li>
</ul>
