.wsui-banner {
  position: relative;
  z-index: 0;
  background-image: radial-gradient(circle at 0% 20%, #a09eff, #4884f0, #b3e0fa);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px 0;
  text-align: center;
  margin-bottom: 50px;
  overflow: hidden;
  color: white;


  &:before {
    content: "";
    position: absolute;
    top: -50px;
    display: block;
    background-image: url(https://atomiks.github.io/tippyjs/static/bubbles-4989859a4b6961599ff97c983f6f5947.svg);
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .is-wave {
    margin: -9% 0 -32px;
  }
}
